body {
    background-color: lightblue;
  }

*{
    margin: 0;
    padding: 0;
}


/*CSS für Navigation*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: wheat;
    font-family: 'Bebas Neue', cursive;
}
.logo{
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
width: 40%;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 15px;
}
.nav-links li{
     list-style: none;
}
/*Ende CSS für Navigation*/

/*Für Mobile-Version, um Sidemenu aufzumachen*/
.burger div{
     width: 25px; 
     height: 5px;
     background-color: black;
     margin: 3px;
     transition: all 0.3s ease;
}
.burger{
    display: none;
}


/*Paragraphen und Teile der Seite*/
.img-banner{
    display: none;
}
.img-info{
    width: 100%;
} 
.img-uhren{
    width: 100%;
}
.img-rolex{
    display:none;
}
.img-ap{
    display: none;
}
.img-uhren h2{
    padding-top: 30px;
    padding-left: 30px;
    font-family: Arial;
    font-size: 50px;
    line-height: 44px;
}
.img-info h2{
padding: 30px 30px 20px;
font-family: Arial;
font-size: 50px;
line-height: 44px;
}
.img-info p{
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    }
.img-uhren ul{
    font-family: Arial;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 30px;
}
.img-portraet{
    display: none;
}


/*Bestimmungen für Mobile-Version (funktioniert nicht auf Safari)*/
@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
.nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
.nav-links li{
opacity: 0;
}
.burger{
    display: block;
    cursor: pointer;
}
.nav-active{
    transform: translateX(0%);
}


/*Bestimmungen für alle Browser-Fenster bis 1000px*/
}
@media only screen and (max-width: 1000px){
    .nav-links{
    width: 60%;
    }
}


/*Bestimmungen für Browserfenster von 768-1000px*/
@media only screen and (min-width: 768px){
    body{
        overflow-x: hidden;
    }
    .img-banner{
        display: block;
        width: 100%;
        
}
.img-info h2{
    padding-top: 30px;
    padding-left: 30px;
    }
.img-uhren h2{
    padding-top: 30px;
    padding-left: 30px;
}
.img-rolex{
    display: block;
    width: 10%;
    height: 10%;
    float: inline-start;
}
.img-ap{
    display: block;
    width: 10%;
    height: 10%;
    float: inline-start;
}
.img-uhren{
    padding-top: 30px;
    padding-left: 30px;
}
.img-info p{
padding: 20px 20px 0px;
           }
.img-portraet{
padding-top: 30px;
display: block;
justify-content: center;
align-items: center;
             }
    }



/*Bestimmungen für Browser über 1000px*/
@media only screen and (min-width: 1000px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        width: 60%;
        }
 .img-info{
     padding-top: 0px;
     width: 75%;
 }
 .img-info h2{
     padding: 0px 0px 0px 15px;
 }
 .img-uhren h2{
padding-top: 30px;
padding-left: 30px;
 }
 .img-info p{
     padding: 20px 0px 0px 30px;
 }
 .img-uhren ul{
    padding-top: 15px;
    padding-left: 30px;
 }
 .img-portraet{
     padding-top: 15px;
     width: 100%;
     justify-content: center;
     align-items: center;
 }
 .img-rolex{
     width: 25%;
     height: 25%;
 }
 .img-ap{
     width: 25%;
     height: 25%;
 }
}



@keyframes navLinkFade{
    from{
opacity: 0;
transform: translateX(50px);
    }
    to{
opacity: 1;
transform: translateX(0px);
    }
}
/*Animation für "Burger", damit dieser von Burger zu X geht*/
.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

